$background: #e3effe;
$outline: #6488af;
$pink: #ffd8cc;
$orange: #ffbd9b;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #459bdb;
}

body {
  background: $background;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#save {
  display: none;
}

table,
td,
th {
  font-family: "Source Sans Pro", sans-serif;
  border: 2px solid $outline;
  border-collapse: collapse;
  padding: 5px;
}

th {
  background-color: $background;
  font-size: 1vw;
  text-align: center;
}

td {
  font-size: 0.9vw;
  font-weight: 500;
  text-align: center;
}

#remove {
  display: none;
}

img {
  width: 30%;
  margin-bottom: 3%;
  margin-top: 4%;
}

input {
  font-size: 1vw;
  font-weight: 600;
  padding: 5px;
  min-width: auto;
  width: 80px;
  background-color: $orange;
  margin: 5px;
  background: #e3effe;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 4px #cfd9e7, -3px -3px 4px #f7ffff;
}

#remove {
  min-width: 170px;
}

#btn {
  margin: 10px;
}

#tableContainer {
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 4px 4px 5px #cfd9e7, -4px -4px 5px #f7ffff;
  height: 55vh;
  padding: 10px;
  overflow-x: auto;
  width: 80vw;
}

*::-webkit-scrollbar {
  display: none;
}

table {
  width: 77vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
